# Build artefacts
*.o
*.elf
*.bin

# Build directories
**/build/

# Downloaded source archives
**/downloads/

# Archives
*.tar
*.tar.gz
*.tar.xz
*.tar.zst
*.zip
*.7z

# Disk images
*.img
*.iso

# Generated ISO/UEFI files
iso/boot/grub/eltorito.img
iso/OVMF_VARS.fd

# Python
__pycache__/
*.pyc

# Local ports source tree
felinos-ports-src/
